textarea{
    resize: none;
}
.product-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}
.product-div .title-div{
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
    margin-top: 50px;
}
.product-div .title-div h1, .product-div .title-div .carousel{
    width: 50%;
}
.product-div .title-div .carousel .slide{
    width: 550px;
    height: 250px;
    border-radius: 20px;
    background-color: #707070;
}
.product-div h1{
    /* background-color: red; */
    padding-left: 5%;
}
.product-div .product-details-div{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.product-div .product-details-div h2{
    font-weight: 400;
    width: 100%;
    padding-left: 5%;
}
.product-div .product-details-div .details-div .sec-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.product-div .product-details-div .details-div .sec-div .sec{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.product-div .product-details-div .details-div .sec-div .sec1 input[type= text], 
.product-div .product-details-div .details-div .sec-div .sec1 input[type= number], 
.product-div .product-details-div .details-div .sec-div .sec1 textarea, 
.product-div .product-details-div .details-div .sec-div .sec2 textarea{
    padding: 20px;
    margin: 15px 0;
    font-size: 18px;
    border: 0;
    border: 1px solid #707070;
    border-radius: 10px;
    outline-width: 5px;
}

.product-div .product-details-div .details-div .sec2 span{
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 15px 0;
}
.product-div .product-details-div .details-div .sec2 span input[type= date]{
    background-color: transparent;
    outline: none;
    border: none;
}
.product-div .product-details-div .details-div .sec2 span input[type= date]{
    background: #C4C4C4;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px;
}
.product-div .product-details-div .details-div .sec2 span input[type= file]::-webkit-file-upload-button{
    visibility: hidden;
}
.product-div .product-details-div .details-div .sec2 span input[type= file]#design::before{
    content: 'Upload Design';
}
.product-div .product-details-div .details-div .sec2 span input[type= file]#content::before{
    content: 'Upload Content';
}
.product-div .product-details-div .details-div .sec2 span input[type= file]#design::before, .product-div .product-details-div .details-div .sec2 span input[type= file]#content::before{
    display: inline-block;
    background: #C4C4C4;
    border-radius: 3px;
    padding: 10px 15px;
    margin-right: -80px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: color ease .25s,
                background ease .25s;
}
.product-div .product-details-div .details-div .sec2 span input[type= file]#design:hover::before, .product-div .product-details-div .details-div .sec2 span input[type= file]#content:hover::before{
    background-color: #707070;
    /* color: #fff; */
    text-shadow: none;
}
.product-div .product-details-div .details-div button{
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #C4C4C4;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    transition: background ease .25s;
    margin-left: 5.5%;
}
.product-div .product-details-div .details-div button:hover{
    background-color: #9c9c9c;
}
@media only screen and (max-width: 820px){
    .product-div .title-div{
        display: flex;
        align-items: flex-end;
        margin-bottom: 80px;
        margin-top: 50px;
        flex-direction: column;
    }
    .product-div .title-div h1, .product-div .title-div .carousel{
        width: 100%;

    }
    .product-div .title-div h1, .product-div .title-div .carousel .slide{
        width: 80%;
    }
    .product-div .product-details-div .details-div .sec-div{
        flex-direction: column;
    }
    .product-div .product-details-div .details-div .sec-div .sec{
        width: 100%;
        padding: 0 25px;
    }
    .product-div .title-div{
        align-items: flex-start;
        padding: 0 25px;
    }
    .product-div .title-div h1{
        padding-left: 0;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 441px){
    .product-div .product-details-div .details-div .sec{
        width: 100%;
    }
    .product-div .title-div h1, .product-div .title-div .carousel .slide{
        width: 100%;
    }
    
}